{% extends "layouts/main.html" %}

{% set pageName="TSI internal service prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>
      This is a prototype of the Task Service Index.
    </p>
    <p>
      Not all links are funtional and no identifying data is in use.
    </p>

    {{ govukButton({
      text: "Start prototype",
      href: "home",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
