{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
              Add a new service
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label inline-block" for="service-id">
              Service ID
            </label>
            <p class="govuk-!-font-weight-bold inline-block" id="service-id" name="serviceID" type="text">
              0001-SID
            </p>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="service-name">
              Service name
            </label>
            <div id="service-name-hint" class="govuk-hint">
              [Hint text for service name] 
            </div>
            <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
          </div>
        </fieldset>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
