{# 1 #} 
{% from 'node_modules/dfe-frontend-alpha/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}
  {{ header({
    "showNav": "true",
    "showSearch": "false",
    "showUserName": "true",
    "userName": "Sign out",
    "userNameURL": "#",
    "logoPath": "public/images",
    "service": {
      "name": "Task and Service Index"
    },
    "primaryLinks": [
      {
        "url"  : "/home",
        "label" : "Home"
      },
      {
        "url"  : "#",
        "label" : "Tasks"
      },
      {
        "url"  : "#",
        "label" : "Services"
      }
    ]
  })
}}

{% endblock %}

{# 4 #} 
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}


